<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<p>
<%= l(:watchers_select_multiple) %>
<%
  options=""
  @groups = Group.find(:all, :order => 'lastname').each do |item|
    key=item[:lastname]
    value=item.users
    values=Array.new
    value.each do |user| values+=[user[:id]] end
    options+="<option value=\"#{values.join(',')}\">#{key}</option>"
  end
%>
<%= select_tag(:watcher_multiple_group, options.html_safe)
%>
  <input type="button" value="Select" onclick="checkSome('issue[watcher_user_ids][]');" /> |
  <input type="button" value="Unselect" onclick="uncheckSome('issue[watcher_user_ids][]');" /> |
  <input type="button" value="Select All" onclick="checkAll('issue[watcher_user_ids][]');" /> |
  <input type="button" value="Unselect All" onclick="uncheckAll('issue[watcher_user_ids][]');" />
</p>

<%# content_for :header_tags do %>
  <%= javascript_include_tag "watchers_multisel.js", :plugin => 'redmine_watchers_by_group' %>
<%# end %>
